.dashboard-wraper {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #e8edff;
  transition: all 0.5s ease-in-out;
  gap: 30px;

}
/* globel */
.Dark-Mode {
  background-color: rgb(66, 66, 66);
  color: #e8edff;
}
.layout {
  padding: 10px 30px;
  flex: 1;
}
.route-layout{
  padding: 0px 10px;
}

@media (max-width: 600px) {
  .dashboard-wraper{
    height: auto;
  }
  .layout {
    padding: 16px 20px;
    width: 100%;
    height: auto;
  }
  .route-layout{
    padding: 0px 0px;
  }
}
