.sidebar {
  width: 200px;
  height: 100%;
  background-color: #20263a;
  transition: all 0.5s ease-in-out;
}
/* mobile sidebar style */


.openSideBar {
  position: fixed;
  width: 200px;
  height: 100vh;
  background-color: #20263a;
  transition: all 0.5s ease-in-out;
  z-index: 100;
  opacity: 1;
 
}
.closeSideBar{
  display: none;
}
.Dark-Mode-sidebar {
  background-color: rgb(66, 66, 66);
  border-right: 1px solid rgba(187, 187, 187, 0.548);
}
.navWraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
/* nav top area */
.nav-top {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}
.nav-top .logo {
  height: 200px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* nav center area */
.nav-center {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.nav-center .activeMenu {
  background-color: white;
  color: #131724;
}
.nav-center li {
  margin-left: auto;
  color: white;
  width: 169px;
  padding: 8px 40px;
  background-color: #131724;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  transition: all 0.5s ease-in-out;
}
.nav-center li:hover {
  background-color: white;
  color: #131724;
}


/* nav bottom area */
.nav-bottom {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.nav-bottom .logoutBtn {
  width: 100%;
  height: 50px;
  background-color: rgb(255, 255, 255);
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.logoutBtn button {
  border: none;
  padding: 7px 7px;
  color: red;
  cursor: pointer;
  background: transparent;
 
}

@media (max-width: 600px) {
  .sidebar {
    /* width: 200px;
    max-width: 0px;
    overflow: hidden;
    position: absolute;
    height: 100vh;
    margin-left: -300;
    opacity: 0;
    display: none; */
    
    position: fixed;
    width: 0px;
    height: 100vh;
    left: -300px;
    opacity: 0;
    overflow: hidden;  
    transition: all 0.6s ease-in-out;
  }
  .openSideBar {
    position: fixed;
    width: 200px;
    height: 100vh;
    background-color: #20263a;
    transition: all 0.5s ease-in-out;
    z-index: 100;
    opacity: 1;
    /* position: fixed;
    width: 200px;

    opacity: 1;
    background-color: #20263a;
    height: 100vh;
    overflow: hidden;  
    transition: all 0.6s ease-in-out;
    z-index: 100; */
  }
  .openSideBar .closeSideBar{
    display: block;
    position: absolute;
    color: aliceblue;
    top: 15px;
    left: 10px;
  }
  .Dark-Mode-sidebar {
    background-color: rgb(66, 66, 66);
    border-right: 1px solid rgba(187, 187, 187, 0.548);
  }
}
